[submodule "libs/sdk"]
	path = libs/sdk
	url = https://github.com/maddinat0r/samp-plugin-sdk.git
[submodule "libs/cmake"]
	path = libs/cmake
	url = https://github.com/Zeex/cmake-modules.git
[submodule "libs/samp-log-core"]
	path = libs/samp-log-core
	url = https://github.com/maddinat0r/samp-log-core.git
